body {
      background-color: #fdf6f0;

      font-family: Georgia, 'Times New Roman', Times, serif;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      color: #333;
}

.content {
    max-width: 900px;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #d65a5a;
    font-style: italic;
    margin-bottom: 20px;
}

/* Nuevo contenedor para poner texto y flor lado a lado */
.poema-layout {
    display: flex;
    flex-wrap: row; /* Esto permite que en el celular se ponga uno abajo del otro */
    align-items: center;
    justify-content: center;
    gap: 30px; /* Espacio entre el texto y la flor */
} 

.poema-container {
    width: 100%;
    max-width: 100%;
}

.poema-texto {
    font-size: 1.rem;
    line-height: 1.7;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: left;
    display: block;
    border-left: 3px solid #e7a3a3;
    padding-left: 15px;
    margin: 20px auto;
    max-width: 85%;
}

.flor-container {
    width: 100px;
    margin-bottom: 10px;
}

h1 {
    font-size: 1.6rem;
    padding: 0 10px;
}

.flor-imagen {
    width: 100%;
    height: auto;
    animation: flotar 4s ease-in-out infinite;
}

@keyframes flotar {
    0%, 100% { transform: translateY(0);}
    50% { transform: translateY(-15px)}
}

@media (max-width: 600px) {
    .poema-layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .poema-texto {
        font-size: 0.95rem;
        padding-left: 15px;
    }

}
