body {
      background-color: #dcd5cf;

      font-family: Georgia, Times New Roman, Times, 'serif';
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      color: #333;
}

.content {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}

h1 {
    color: #aa3838;
    font-style: italic;
    margin-bottom: 30px;
}

.poema-texto {
    font-size: 0.7rem;
    line-height: 1.3;
    text-align: left;
    color: #333;
    border-left: 5px solid #b52828;
    padding-left: 20px;
    margin: 20px auto;
    width: 98%;
    max-width: 500px;
}

.flor-container {
    width: 200px;
    margin-bottom: 10px;
}

h1 {
    font-size: 1.9rem;
    padding: 0 10px;
}

.flor-imagen {
    width: 100%;
    height: auto;
    animation: flotar 4s ease-in-out infinite;
}

@keyframes flotar {
    0%, 100% { transform: translateY(0);}
    50% { transform: translateY(-15px)}
}

@media (max-width: 600px) {
    .poema-layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .poema-texto {
        font-size: 0.7rem;
        padding-left: 15px;
    }

/* Animación de entrada suave */
@keyframes aparecer {
    from { 
        opacity: 0; 
        transform: translateY(15px); 
        filter: blur(5px); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0); 
        filter: blur(0); 
    }
}

.verso {
    display: inline-block;
    opacity: 0; /* Empiezan invisibles */
}

/* Se activa cuando presionas el botón de inicio */
.activado .verso {
    animation: aparecer 2s ease forwards;
}

/* Tiempos de aparición (Retrasos) */
.activado .verso:nth-of-type(1)  { animation-delay: 1s; }
.activado .verso:nth-of-type(2)  { animation-delay: 4s; }
.activado .verso:nth-of-type(3)  { animation-delay: 7s; }
.activado .verso:nth-of-type(4)  { animation-delay: 10s; }
.activado .verso:nth-of-type(5)  { animation-delay: 14s; }
.activado .verso:nth-of-type(6)  { animation-delay: 17s; }
.activado .verso:nth-of-type(7)  { animation-delay: 20s; }
.activado .verso:nth-of-type(8)  { animation-delay: 23s; }
.activado .verso:nth-of-type(9)  { animation-delay: 27s; }
.activado .verso:nth-of-type(10) { animation-delay: 30s; }
.activado .verso:nth-of-type(11) { animation-delay: 33s; }
.activado .verso:nth-of-type(12) { animation-delay: 36s; }
.activado .verso:nth-of-type(13) { animation-delay: 40s; }
.activado .verso:nth-of-type(14) { animation-delay: 43s; }
.activado .verso:nth-of-type(15) { animation-delay: 46s; }
.activado .verso:nth-of-type(16) { animation-delay: 49s; }
.activado .verso:nth-of-type(17) { animation-delay: 53s; }
.activado .verso:nth-of-type(18) { animation-delay: 56s; }
.activado .verso:nth-of-type(19) { animation-delay: 59s; }
.activado .verso:nth-of-type(20) { animation-delay: 62s; }

}
